@import './bootstrap-grid.css';
@import './fontawesome.min.css';
@import './regular.css';
@import './solid.css';
@tailwind base;

:root {
  --primary: #12203e;
  --primary-light: #172a52;
  --secondary: #1e3465;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 20px;
}

@font-face {
  font-family: Ubuntu;
  src: url('/font/Ubuntu-Regular.ttf');
}

body {
  font-family: Ubuntu;
}

.fa,
.far {
  color: var(--primary);
}

.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.bg-primary {
  background: var(--primary);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-primary-light {
  background: var(--primary-light);
}
